* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
 HEAD
.ancho {
  max-width:1200px;
  margin:auto;
  border:1px solid red;
}
body{
  font-family: helvetica;
  font-size: 16px;
  line-height: 24px;
  color: #333;
 }

 .borde{
  border: 1px black solid;
  }
  .ancho{
    max-width: 1200px;
    margin: auto;
    border: 1px red solid ;
   }

/* ----------LOGIN----------------------*/



















/* ----------INDEX----------------------*/
.Inicio{
  background-image: url(../Imagenes/tecnm.jpg);
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  border: 2px solid red;
  background-size: cover;
  background-attachment: fixed;
}
.Parte1{
  width: 100%;
  height: 100vh;
  border: 2px solid green;
  margin: auto;
}
.navegacion{
  border: 2px solid black;
  width: 100%;
  height: 10vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 0;
}
.logo{
  border: 2px solid blue;
  width: 100px;
  height: 10vh;
}
.logo img{
  width: 100%;
  height: 100%;
}
.icono{
  color: #800101;
  font-size: 40px;
  border: 2px solid red;
  margin-right: 10px;
}
.navegacion ul{
  position: absolute;
  display: block;
  width: 20%;
  margin: auto;
  font-size: 25px;
  border: 2px solid var(--mostaza);
  top: 100%;
  right: 0%;
  opacity: 0;
  z-index: 10;
  transition: .2s;
  background-color: white;
  border: 2px solid green;
  text-align: center;
  box-shadow: 0px 0px 5px black;
}
.navegacion ul li a{
  margin: 15px;
  text-decoration: none;
  color: black;
  font-family: 'Rubik', sans-serif;
  font-weight: bolder;
  transition: .3s;
  padding-bottom: 5px;
  font-size: 15px;
}
.navegacion ul li{
  list-style: none;
  margin: 10px;
  display: block;
}
.navegacion ul li:hover a{
 border-bottom:solid #800101;
}
.navegacion ul.abmenu{
  opacity: 1;
}













/* ----------MENU----------------------*/
















/* ----------DASHBOARD----------------------*/
